# Top-level configuration
name = "url-shortener"
main = "src/index.mjs"
compatibility_date = "2025-05-05"
keep_vars = false
send_metrics = false
preserve_file_names = true
minify = true
workers_dev = true
preview_urls = false

[dev]
ip = "localhost"
port = 4242
local_protocol = "https"
upstream_protocol = "https"

[assets]
directory = "./public/"
binding = "Assets"
run_worker_first = true
html_handling = "none"
not_found_handling = "none"

[vars]
NODE_ENV = "local"

# PRODUCTION env configuration
[env.production]
name = "url-shortener"
workers_dev = true
preview_urls = false

[env.production.vars]
NODE_ENV = "production"
